.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-navbar {
  background-color: #1f1e1e;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.top-navbar .navbar-link {
  margin: 0 20px; /* Add more space between links */
}

.side-navbar {
  box-shadow: 0 0 80px #af5252;
  background-color: #1f1e1e;
  padding: 10px;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0;
}

.main-content {
  display: flex;
  flex-grow: 1;
  margin-left: 200px; /* Adjust for side navbar width */
  padding-top: 50px; /* Adjust for top navbar height */
}

.container {
  margin-left: 220px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-link {
  color: rgb(242, 236, 236);
  text-decoration: none;
  margin: 10px 0;
  display: block;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.scp-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 60px #d59393;
  max-width: 800px;
  width: 100%;
}

.image-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.image-row img {
  max-width: 100px;
  border-radius: 5px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 50px #af5252;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px 20px;
  max-width: 120px;
  background-color: #dc3545; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333; /* Darker red */
}

.footer {
  background-color: #664040;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-row {
  display: flex;
  gap: 10px;
}
